.modal__window {
  width: 400px;
  height: 500px;
  box-sizing: border-box;
  border: 1px solid rgb(14, 98, 18);
  background: linear-gradient(to bottom, #6ed888, #489c79, #1e7727);
  margin: 200px auto 0 auto;
  position: relative;
  transform: scale(0.5);
  transition: 0.5s;
}

.product__block {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.price__headline {
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  margin: 5px;
}

.name__headline {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  margin: 5px;
}

.category__headline {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  margin: 5px;
}

.header__headline {
  text-align: center;
  font-size: 26px;
  line-height: 45px;
  font-weight: 600;
  margin-bottom: 10px;
}

.user__block {
  margin: 30px auto 0 auto;
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.input__user {
  margin: 7px auto;
  width: 200px;
  height: 20px;
}

.input__form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 15px auto;
}

.order__btn {
  margin: 15px auto;
  width: 130px;
  height: 25px;
}

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

.modal__wrapper.active {
  opacity: 1;
  pointer-events: all;
}

.modal__window.active {
  transform: scale(1);
}
